<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href=" https://github.com/guswls1846/2020-dongyang-web-project/" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">Copyright &copy; 우리영화 볼래?</p>
        <p class="copyright text-muted">OurTeam &copy; 김현진, 강효석, 하은수, 조 인</p>
      </div>
    </div>
  </div>
</footer>
