<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading"></div>
      </div>
    </div>
  </div>
</header>

<style>
  .masthead {
    background-image: url("https://www.maybugs.com/news/photo/201810/644953_517741_126.jpg") !important;
  }
</style>
