<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand pointer" style="align-self: flex-start">우리영화볼래?</a>
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" style="justify-content: flex-end">
      <ul class="navbar-nav" style="justify-content: flex-end">
        <li class="nav-item">
          <a class="nav-link pointer">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer">About</a>
        </li>
        <li class="nav-item" style="width: 83px; margin-left: 0 !important">
          <a class="nav-link pointer">Posts</a>

          <!-- <ul class="navbar-nav-colum ml-auto" *ngIf="isShowCategory">
            <li class="nav-item" *ngFor="let cate of category">
              <a class="nav-link pointer" ></a>
            </li>
          </ul> -->
        </li>
        <li class="nav-item">
          <a class="nav-link pointer">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link pointer">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .navbar-nav-colum {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  @media only screen and (min-width: 992px) {
    #mainNav {
      position: fixed;
    }
    #mainNav.scroll {
      background: rgba(0, 0, 0, 0.3);
    }
    #mainNav .navbar-nav-colum > li.nav-item > a {
      padding: 10px 20px;
      color: #fff;
    }
  }

  #mainNav .navbar-nav-colum > li.nav-item > a {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  #mainNav .navbar-nav-colum > li.nav-item > a {
    margin-top: 12px;
  }

  mat-form-field {
    width: 20rem;
  }
</style>
