<div class="row">
    <h2><strong>로그인 </strong><br/></h2><br/>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Start form -->
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="text" class="form-control" id="userId"  placeholder="Enter id">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" name="password" id="userPwd" placeholder="Password">
            </div>
            <div class="form-check">
                <button class="btn btn-info" type="button" onclick="gojoin()">회원가입</button>
                <button type="button" class="btn btn-primary" onclick="login()">로그인</button>
            </div>
        </form>
        <!-- End form -->
    </div>
</div>
<script src="/js/login.js"></script>
