<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
    <div class="container">
        {% extends 'top.html' %}

        {% block content %}
        <div id="contents">
            <div id="contents_head">
                <div id="notice">
                    <p>{{notice}}</p>
                </div>
                <div id="info">
                    * 영화를 선택하시면 상영중인 영화관, 시간표가 나타납니다.
                </div>
            </div>
            <div id="contents_body">
                <ul class="theater_list">
                    {% for n in movieList %}
                    <li class="theater"><a href="/timetable/{{n[1]}}">{{n[0]}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endblock %}
    </div>
</body>

</html>