<!DOCTYPE html>
<html>

<head>
    <title>Today's Movie - 인물 정보</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
    <div class="container">
        {% extends 'top.html' %}

        {% block content %}
        <div id="contents">
            <div id="contents_head">
                <h3>
                    <p>{{notice}}</p>
                </h3>
            </div>
            <div id="contents_body">
                <div class="profile">
                    <img src="{{peopleInfo['profile']}}" height=200>
                </div>
                <div class="day">
                    <h4>
                        <p>생년월일</p>
                    </h4>
                    {{peopleInfo['birthday']}}
                </div>
                <div class="filmos">
                    <h4>
                        <p>필모그래피</p>
                    </h4>
                    <ul>
                        {% for f in peopleInfo["filmos"] %}
                        <li>{{f}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
</body>

</html>