<!DOCTYPE html>
<html>

<head>
    <title>Today's Movie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
    <div class="container">
        {% extends 'top.html' %}

        {% block content %}
        <div id="contents">
            <div id="contents_head">
                <h3>
                    <p>{{notice}}</p>
                </h3>
            </div>
            <div id="contents_body">
                <div class="subButton">
                    <button><a href="/timetable/{{movie_seq}}">시간표보기</a></button>
                </div>
                <div class="movePlayList">
                    <ul>
                        {% for n in theaterList %}
                        <li>
                            <span class="theater">
                                <a href="/timetable/{{n[1]}}/{{n[2]}}">
                                    {{n[1]}} {{n[2]}}
                                </a>
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
</body>

</html>