<div class="container" style="text-align: center">
    <div class="page-header">
        <div class="col-md-12">
            <h3>VOD Search</h3>
        </div>
    </div>
    <div class="col-md-12" style="display: inline-block">
        <div class="row">
            <input type="text" id="search" class="form-control col-md-10">
            <button style="height: 38px;padding: 0;text-align: center;line-height: 1px" type="button" class="btn btn-success col-md-2" id="shbtn" onclick="search()">
                검색
            </button>
        </div>
    </div>
    <div id="sc_data">

    </div>
</div>
<script src="/js/vodsearch.js"></script>

