<html>
  <head>
    <meta charset="utf8" />
    <title>메인 페이지</title>
    <!-- Latest compiled and minified CSS -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <style>
    body {
      background-color: coral;
      font-size: 15px;
    }
    #mainWrap {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: 0 auto;
      transition: width 1s, height 1s;
      /*transition-duration: 2s,2s;*/
      background-color: rgba(255, 255, 255, 0.8);
      /* 70 em == 15px * 7 */
      height: 0em;
      width: 0em;
    }

    #header-section {
      opacity: 0;
      /*background-color: rgba(255,255,255,0.5);*/
      transition: opacity 1s;
      transition-delay: 1s;
    }

    /* 컨텐츠 박스 내부 CSS*/
    .content-box {
      /*display: grid;*/
      /*grid-template-columns: 1fr 2fr 1fr;*/
    }

    #side-ws {
      transition: opacity 1s;
      transition-delay: 2s;
      opacity: 0;
      /*height: 52em;*/
      padding: 0;
    }

    #maincontent {
      transition: opacity 1s;
      transition-delay: 2.5s;
      opacity: 0;
      /*height: 52em;*/
    }
    #side-site {
      padding: 0;
      opacity: 0;
      transition: opacity 1s;
      transition-delay: 2.7s;
      /*height: 52em;*/
    }

    /* 하단부 관리*/
    footer {
      opacity: 0;
      transition: opacity 1s;
      transition-delay: 3s;
    }

    /* 부트 스트랩 기본 설정 CSS 템플릿*/
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
      height: 450px;
    }

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {
        height: auto;
      }
    }
  </style>

  <body></body>
  <script>
    let main = document.querySelector("#mainWrap");
    let head = document.querySelector("#header-section");

    let sideright = document.querySelector("#side-site");

    let maincontent = document.querySelector("#maincontent");

    let siqeleft = document.querySelector("#side-ws");

    let footer = document.querySelector("footer");

    window.onload = () => {
      console.log(siqeleft);
      console.log(maincontent);
      console.log(sideright);
      main.style.height = "100%";
      main.style.width = "100%";
      head.style.opacity = 1;
      siqeleft.style.opacity = 1;
      maincontent.style.opacity = 1;
      maincontent.style.opacity = 1;
      sideright.style.opacity = 1;
      footer.style.opacity = 1;
    };
  </script>
</html>
